imapcl
imapcl-tests
*.o
test-credentials
test-outdir
*.tar
*.png
doc/*.pdf
doc/*.fdb_latexmk
doc/*.aux
doc/*.fls
doc/*.log
doc/*.gz
doc/*.toc
doc/*.bbl
doc/*.bcf
doc/*.blg
doc/*.run.xml
doc/.auctex-auto
doc/svg-inkscape/
doc/imapcl-class.svg
doc/*-ERROR
certs
test/running/tmp
test_outdir
